@font-face {
  font-family: "PostNoBillsColombo";
  src: url("../fonts/PostNoBillsColombo-Bold.ttf");
}
@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 400;
}

:root {
  --c_primary:#008984;
  --c_warning:#E7A32C;
  --c_dark:#242745;
  --c_dark2:#4B465C;
  --c_gray:#555555;
  --c_lightGray:#888888;
  --c_light:#F6F6F6;
  --c_white:#FFFFFF;

  --bg_primary:#008984;
  --bg_primaryDark:#036b68;
  --bg_light:#F8FAFE;
  --bg_white:#FFFFFF;

  --ff_PostNoBillsColombo: "PostNoBillsColombo", serif;
  --ff_PublicSans: "PublicSans", serif;
  --ff_Roboto: "Roboto", serif;
  --ff_WorkSans: "WorkSans", serif;

  --fs_12: 12px;
  --fs_13: 13px;
  --fs_14: 14px;
  --fs_15: 15px;
  --fs_16: 16px;
  --fs_17: 17px;
  --fs_18: 18px;
  --fs_20: 20px;
  --fs_22: 22px;
  --fs_24: 24px;
  --fs_26: 26px;
  --fs_32: 32px;
  --fs_40: 40px;
  --fs_60: 60px;
  --fs_70: 70px;
  --fs_90: 90px;

  --rounded_6: 6px;
  --rounded_10: 10px;
}
body{
  color: var(--c_lightGray);
  font-family: var(--ff_PublicSans);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.3px;
}
h1,h2,h3,h4,h5,h6{
  color: var(--c_gray);
  font-weight: 700;
}
p{
  line-height: 1.75em;
}
.c_primary{color: var(--c_primary);}
.c_dark{color: var(--c_dark);}
.c_dark2{color: var(--c_dark2);}
.c_gray{color: var(--c_gray);}
.c_lightGray{color: var(--c_lightGray);}
.c_light{color: var(--c_light);}
.c_white{color: var(--c_white);}

.bg_primary{background-color: var(--bg_primary);}
.bg_primaryDark{background-color: var(--bg_primaryDark);}
.bg_light{background-color: var(--bg_light);}
.bg_white{background-color: var(--bg_white);}

.ff_PostNoBillsColombo{font-family: var(--ff_PostNoBillsColombo);}
.ff_PublicSans{font-family: var(--ff_PublicSans);}
.ff_Roboto{font-family: var(--ff_Roboto);}
.ff_WorkSans{font-family: var(--ff_WorkSans);}

.fs_12{font-size: var(--fs_12);}
.fs_13{font-size: var(--fs_13);}
.fs_14{font-size: var(--fs_14);}
.fs_15{font-size: var(--fs_15);}
.fs_16{font-size: var(--fs_16);}
.fs_17{font-size: var(--fs_17);}
.fs_18{font-size: var(--fs_18);}
.fs_20{font-size: var(--fs_20);}
.fs_22{font-size: var(--fs_22);}
.fs_24{font-size: var(--fs_24);}
.fs_26{font-size: var(--fs_26);}
.fs_32{font-size: var(--fs_32);}
.fs_40{font-size: var(--fs_40);}
.fs_60{font-size: var(--fs_60);}
.fs_70{font-size: var(--fs_70);}
.fs_90{font-size: var(--fs_90);}

.rounded_6{border-radius: var(--rounded_6);}
.rounded_10{border-radius: var(--rounded_10);}

.btn{
  font-weight: 700;
  padding: 0.65em 1.4286em;
  border-radius: 0.4286em;
}
.btn_lg{
  font-size: var(--fs_20);
}
.btn_primary{
  --bs-btn-color: var(--c_light);
  --bs-btn-bg: var(--bg_primary);
  --bs-btn-border-color: var(--bg_primary);
  --bs-btn-hover-color: var(--c_light);
  --bs-btn-hover-bg: var(--bg_primaryDark);
  --bs-btn-hover-border-color: var(--bg_primaryDark);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--c_light);
  --bs-btn-active-bg: var(--bg_primaryDark);
  --bs-btn-active-border-color: var(--bg_primaryDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--c_light);
  --bs-btn-disabled-bg: var(--bg_primary);
  --bs-btn-disabled-border-color: var(--bg_primary);
}
@media(min-width:1200px){
  .container{
    max-width: 79rem; /* 1240px */
  }
  .container_sm{
    max-width: 68.375rem;
  }
}
/* _______________________ start home page _______________________ */

/* ... start header section ... */
.header {
  padding: 0.75rem 0rem;
  background-color: var(--bg_white);
}
.header_logo {
  width: 6.8125rem;
  height: 1.6875rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.header_backDrop {
  display: none;
}
.header .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav-item {
  margin-left: 3.8rem;
}
.header .nav-link {
  display: inline-block;
  color: var(--c_lightGray);
  font-size: var(--fs_14);
  padding: 0px !important;
  position: relative;
}
.header .nav-link:hover,
.header .nav-link.active {
  color: var(--c_primary);
}
.header .nav-link:hover::before,
.header .nav-link.active::before {
  width: 100%;
}
@media (max-width: 1199.98px) {
  .header {
    padding: 1.5rem 0rem;
    border-bottom: 1px solid transparent;
  }

  .scrolled_header .header {
    padding: 1.5rem 0rem;
  }

  .navbar-brand,
  .menu_toggleBtn {
    position: relative;
    z-index: 1005;
  }

  .menu_toggleBtn {
    width: 36px;
    height: 36px;
    background: #ffffff20;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .menu_toggleBtn span {
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--c_white);
    margin: 8px 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .active_header .menu_toggleBtn span:nth-of-type(1) {
    -webkit-transform: rotate(45deg) translate(3px, 3px);
    -ms-transform: rotate(45deg) translate(3px, 3px);
    transform: rotate(45deg) translate(3px, 3px);
  }

  .active_header .menu_toggleBtn span:nth-of-type(2) {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    -ms-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .header_navContent {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: var(--bg_dark);
    width: 100%;
    height: 100%;
    padding: 75px 16px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header .header_navContent {
    -webkit-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    transform: translateY(-105%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
  }

  .header.active_header .header_navContent {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  .header .navbar-nav {
    padding-right: 0px;
    padding-top: 16px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .header_navContent>* {
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .active_header .header_navContent>* {
    opacity: 1;
  }

  .header .nav-item {
    margin: 0px 0px 16px;
  }

  .header .nav-link {
    margin-left: 0px;
    padding: 8px !important;
    border-radius: 50rem;
    text-align: center;
    width: 100%;
  }

  .header .nav-link::before {
    height: 1px;
  }

  .header .nav-link:hover {
    background-color: var(--bg_light);
  }

  .header.active_header .header_backDrop {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #00000080;
  }
}
/* ... end header section ... */

/* ... start hero section ... */
.hero_section{
  padding: 10.4375rem 0rem 8.0625rem;
  background-color: var(--bg_light);
  background-image: url("../img/home/buildings.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 59.375rem;
}
.hero_content{

}
.hero_title{
  font-size: var(--fs_70);
  line-height: 1;
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
}
.hero_desc{
  line-height: 1.625em;
  max-width: 28.4375rem;
  margin-bottom: 2.5rem;
}
/* ... end hero section ... */

/* ... start stats section ... */
.stats_section{
  padding: 10.3125rem 0rem;
}
.sec_title{
  font-size: var(--fs_40);
  line-height: 1.35em;
  margin-bottom: 0.5em;
}
.sec_desc{

}
.stat_card{
  color: var(--c_white);
  padding: 34px;
  background: linear-gradient(117.78deg, #008984 34.55%, #015956 79.96%);
  box-shadow: -40px 40px 50px rgba(85, 85, 85, 0.14);
  border-radius: 20px;
}
.stat_score{
  font-size: var(--fs_70);
  text-align: center;
}
.stat_desc{
  word-break: break-all;
}
.circle_bg{
  --bg__color:#0089841a;
  --border__color:var(--c_warning);

  font-size: 434px;
  line-height: 1;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid var(--border__color);
  transform: translate(-50%,-50%) rotate(-30deg);
}
.circle_bg::before{
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transform: translate(10%,0%);
  background-color: var(--bg__color)
}
.circle_bg::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0rem;
  width: 1rem;
  height: 1rem;
  border-radius: inherit;
  transform: translate(-50%,-50%);
  background-color: var(--border__color);
}

/* ... end stats section ... */

/* ... start about section ... */
.about_section{
  padding: 6.875rem 0rem 9.75rem;
  background-color: var(--bg_light);
}
.about_title{
  font-size: var(--fs_70);
  text-align: center;
  margin-bottom: 2rem;
}
.about_imgBox{
  position: relative;
  z-index: 1;
}
.info_list{
  list-style: none;
}
.info_list li{
  position: relative;
  margin-bottom: 1rem;
}
.info_list li::before{
  content: "";
  position: absolute;
  top: 0.15rem;
  left: -1.5rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--bg_primary);
  border: 4px solid #DFEEF2;
}
.sec_title.line_top{
  line-height: 1.175em;
}
.line_top::before{
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.75rem;
  border-radius: 1.5rem;
  background-color: var(--bg_primary);
  margin-bottom: 0.8rem;
}
/* ... end about section ... */

/* ... start info section ... */
.info_section{
  background-color: var(--bg_light);
  background-image: url("../img/home/dots.svg");
  background-repeat: no-repeat;
  background-position: left 3.125rem top 60%;
  background-size: 9.25rem;
}
.info_section .container{
  position: relative;
  z-index: 1;
}
.info_section .circle_bg{
  --border__color:var(--c_primary);
  font-size: 320px;
  left: 80%;
}
.info_section .circle_bg::before{
  content: none;
}
.info_section .sec_title{
  max-width: 50%;
}

.info_card{
  padding: 1.875rem 1.25rem;
  border-radius: 1rem;
  background-color: var(--bg_white);
  text-align: center;
  min-height: 100%;
  box-shadow: 50px 50px 60px rgba(85, 85, 85, 0.08);
}
.info_icon{
  width: 4.75rem;
  height: 4.75rem;
  object-fit: contain;
  margin-bottom: 0.125rem;
}
.info_desc{
  color: var(--c_dark);
  font-size: var(--fs_26);
  font-family: var(--ff_Roboto);
}
/* ... end info section ... */

/* ... start reason section ... */
.reason_section{
  padding: 5.5rem 0rem;
  background-image: url("../img/home/reason_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 14.375rem;
}
.reason_list{
  padding-top: 3rem;
  list-style: none;
  max-width: 60rem;
  margin: auto;
  padding-left: 3.75rem;
}
.reason_list li{
  margin-bottom: 3.5rem;
  position: relative;
}
.reason_num{
  color: var(--c_white);
  background-color: var(--bg_primary);
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0px;
  left: -3.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
/* ... end reason section ... */




/* ... start footer area ... */
.footer{
  color: var(--c_gray);
  background-color: var(--bg_light);
}
.footer_top{
  padding: 4rem 0rem 5rem;
}

.footer_col_1 .footer_colContent{
  max-width: 70%;
}
.footer_brand{
  margin-bottom: 1rem;
}
.footer_logo{
  width: 14.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer_col_2{

}
.footer_colTitle{
  font-size: var(--fs_24);
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.footer_nav{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_navItem{
  color: var(--c_gray);
  font-size: var(--fs_14);
  margin-bottom: 1.3rem;
}
.footer_navLink{
  color: var(--c_gray);
  text-decoration: none;
}
.footer_navLink:hover{
  color: var(--c_primary);
}
.footer_social_nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_social_nav .footer_navItem {
  font-size: var(--fs_24);
  margin-bottom: 0rem;
  margin-right: 1rem;
}
.footer_bottom{
  padding: 2rem 0rem 4rem;
  position: relative;
}
.footer_bottom::before{
  content: "";
  display: block;
  position: absolute;
  top: 2.6rem;
  left: 0rem;
  width: 100%;
  border-bottom: 1px solid var(--c_whiteLt);
}
.footer_bottom{
  font-size: var(--fs_14);
  text-align: center;
}
.footer_bottom span{
  position: relative;
  background-color: #171b27;
  padding: 0.3rem 1rem;
}
@media(min-width:992px){
  .footer_col_1 {
    width: 27%;
  }
  .footer_col_2 {
    width: 18%;
  }
  .footer_col_3 {
    width: 23%;
  }
  .footer_col_4 {
    width: 15%;
  }
  .footer_col_5 {
    width: 17%;
  }
}
/* ... end footer area ... */
/* _______________________ end home page _______________________ */
